.goodsPageList {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &Active {
        display: flex;
    }
}
@import "goodsPageImg/_goodsPageImg.scss";
@import "goodsPageText/_goodsPageText.scss";