.leaves {
    display: inline-block;
    mix-blend-mode: difference;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 55%;
    height: 65%;
    .leavesImg {
        display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        animation: shadowLeavesCoffee 2s ease-in-out forwards;
    }
}