.aboutPageText {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: #382e1e;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}