.seed {
    position: fixed;
    display: inline-block;
    transform: translate(-50%, -50%);
    width: 2.5rem;
    height: 2.5rem;
    img {
        width: 100%;
        height: 100%;
    }
    &:nth-child(1) {
        width: 1.5rem;
        height: 1.5rem;
        bottom: 13%;
        left: 3%;
    }
    &:nth-child(2) {
        width: 1.5rem;
        height: 1.5rem;
        bottom: 9%;
        left: 5%;
    }
    &:nth-child(3) {
        bottom: 11%;
        left: 6%;
    }
    &:nth-child(4) {
        width: 1.5rem;
        height: 1.5rem;
        bottom: 9%;
        left: 48%;
    }
    &:nth-child(5) {
        bottom: 5%;
        left: 50%;
    }
    &:nth-child(6) {
        bottom: 60%;
        left: 79%;
    }
    &:nth-child(7) {
        width: 1.5rem;
        height: 1.5rem;
        bottom: 58%;
        left: 82%;
    }
    &:nth-child(8) {
        bottom: 40%;
        left: 60%;
    }
    &:nth-child(9) {
        width: 1.5rem;
        height: 1.5rem;
        bottom: 38%;
        left: 62%;
    }
    &:nth-child(10) {
        bottom: 68%;
        left: 69%;
    }
    &:nth-child(11) {
        width: 2rem;
        height: 2rem;
        bottom: 64%;
        left: 71%;
    }
    &:nth-child(12) {
        bottom: 36%;
        left: 88%;
    }
    &:nth-child(13) {
        width: 2rem;
        height: 2rem;
        bottom: 34%;
        left: 91%;
    }
}