.generalPageTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: Pacifico;
    color: #382e1e;
    line-height: 5rem;
    font-size: 3.5rem;
    z-index: 2;
    span {
        font-family: Pacifico;
        font-size: 1.8rem;
    }
}